
{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Category Info</title>
{% endblock %}
{% block container %}
    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form  %}
        <div class="field">
            <label for="{{ field.name }}" class="form-field-label">
                {{ field.label }}
            </label>
            {{ field }}
        </div>
    {% endfor %}

        <a href="{% url 'categories:category_list' %}" class="order-link button-link">Back</a>

        {% if type == 'create' %}
        <button type="submit" class="order-link button-link">{{ button }}</button>
        {% elif type == 'detail' %}
        <a href="{% url 'categories:category_edit' pk=object.pk %}" class="order-link button-link">{{ button }}</a>
        {% elif type == 'edit' %}
        <button type="submit" class="order-link button-link save">{{ button }}</button>
        <a href="{% url 'categories:category_delete' pk=object.pk %}" class="order-link button-link delete">Delete</a>
        {% elif type == 'delete' %}
        <button type="submit" class="order-link button-link delete">{{ button }}</button>
        {% endif %}

    </form>
{% endblock %}
