
{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Product Info</title>
{% endblock %}
{% block container %}
    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form  %}
        <div class="field">
            <label for="{{ field.name }}" class="form-field-label">
                {{ field.label }}
            </label>
            {{ field }}
        </div>
    {% endfor %}
        <input type="submit" name="back" value="back">
        <input type="submit" value="{{ button }}">
        {% if type == 'edit' %}
        <input type="submit" name="delete" value="delete">
        {% endif %}
    </form>
{% endblock %}
