{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>ТвойБорд</title>
{% endblock %}
{% block container %}
    <div class="container">
        {% include "includes/inc_slider.html" with menu=True slider=slider1 %}

        <div class="content padding-site">
            <ul class="sort">
                <li><a href="#" class="active-sort">Featured</a></li>
                <li><a href="#">New</a></li>
            </ul>
            <a href="{% url 'products' %}" class="explore">explore all<img src="/static/img/arrow.svg" alt="arrow"></a>
            <div class="shop-case">

                {% for i in content.img_src %}
                <div class="item">
                    <img class="product-image" src="/static/img/products/{{ i }}" alt="product image">
                    <div class="middle">
                        <a href="{% url 'product_info' %}" class="order-link small-order-link"><img src="/static/img/arrow.svg" alt="arrow"></a>
                        <h3>{{ content.h3 }}</h3>
                        <p>{{ content.p }}</p>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

        {% include "includes/inc_promo.html" %}
        <div class="trends padding-site">
            <div class="shop-case">
                <h2>Trending Products</h2>
                <a href="{% url 'products' %}" class="explore">explore all<img src="/static/img/arrow.svg" alt="arrow"></a>

                {% for t in trends.img_src %}
                <div class="item">
                    <img class="product-image" src="/static/img/trends/{{ t }}" alt="product-image">
                    <div class="middle">
                        <a href="{% url 'product_info' %}" class="order-link small-order-link"><img src="/static/img/arrow.svg" alt="arrow"></a>
                        <h2>{{trends.h2}}</h2>
                        <p>{{ trends.p }}</p>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

        {% include "includes/inc_slider.html" with slider_num="slider2" slider=slider2 %}

        <div class="exclusive padding-site">
            <div class="promo-product">
                <h3>exclusive</h3>
                <h2>Fishnet Chair</h2>
                <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                <a href="{% url 'product_info' %}" class="order-link">ORDER US<img src="/static/img/arrow.svg" alt="arrow"> </a>
            </div>
            <div class="shop-case">

                {% for e in exclusive.img_src %}
                    <div class="item"><img src="/static/img/exclusive/{{ e }}" alt="product-image" class="product-image">
                        <div class="middle">
                            <a href="{% url 'product_info' %}" class="order-link small-order-link"><img src="/static/img/arrow.svg" alt="arrow"></a>
                            <h3>{{ exclusive.h3 }}</h3>
                            <p>{{ exclusive.p }}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
        <div class="app padding-site">
            <div class="slider-text">
                <h3>mobile app</h3>
                <h2>Find. Follow. Favorite.</h2>
                <p>Save your favorites and share your style.</p>
                <a href="#"><img src="/static/img/app-store.jpg" alt="app-store-link"></a>
                <a href="#"><img src="/static/img/google-play.jpg" alt="google-store-link"></a>
            </div>
        </div>
        {% include "includes/inc_footer.html" %}
    </div>
{% endblock %}
