{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>{{ title }}</title>
{% endblock %}
{% block container %}
    <div class="container" style="display: flex">
    {% for p in products %}
    <div class="item">
        <img class="product-image" src="/media/{{ p.image }}" alt="{{ p.short_desc }}" style="width: 270px">
        <div class="middle">
            <a href="{% url 'product_info' %}" class="order-link small-order-link"><img src="/static/img/arrow.svg" alt="arrow"></a>
            <h3>{{ p.category.name }}</h3>
            <h4>{{ p.name }}</h4>
            <p>{{ p.description }}</p>
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}