
{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Product Info</title>
{% endblock %}
{% block container %}
    <div class="product-info-page container">
        <div class="product-info-header padding-site">
            {% include "includes/inc_menu.html"%}
        </div>
        <div class="product-sort ">
            {% include "includes/inc_sort.html"%}
        </div>
        <div class="content padding-site">
            <div class="product-slider">
                <img class="product-image" src="/static/img/product-info/main.jpg" alt="product-img">
                <div class="others">
                    <div class="item"><img src="/static/img/product-info/slider1.jpg" alt=""></div>
                    <div class="item"><img src="/static/img/product-info/slider2.jpg" alt=""></div>
                    <div class="item"><img src="/static/img/product-info/slider3.jpg" alt=""></div>
                </div>
            </div>
            <div class="product-info">
                <h2>Fishnet Chair</h2>
                <h3>Hot Deal</h3>
                <div class="price">
                   <span class="sign">$</span> <span class="value">36.7</span>/sq
                </div>
                <a href="#" class="order-link">ORDER US<img src="/static/img/arrow.svg" alt="arrow"> </a>
                <div class="text">
                    <p>The majesty of Mountains - Ugmonk style.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                    <p>et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                </div>
            </div>
        </div>
        <div class="trends padding-site">
            <div class="shop-case">
                <h2>Related Products</h2>
                <a href="{% url 'products:product_index' %}" class="explore">explore all<img src="/static/img/arrow.svg" alt="arrow"></a>

                {% for t in trends.img_src %}
                 <div class="item">
                    <img class="product-image" src="/static/img/trends/{{ t }}" alt="product-image">
                    <div class="middle">
                        <a href="{% url 'product_info' %}" class="order-link small-order-link"><img src="/static/img/arrow.svg" alt="arrow"></a>
                        <h2>{{trends.h2}}</h2>
                        <p>{{ trends.p }}</p>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        {% include "includes/inc_footer.html" %}
    </div>
{% endblock %}
