{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>{{ title }}</title>
{% endblock %}
{% block container %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="container" >
        <input type="submit" value="add new">
        {% for itm in results %}
        <div class="item">
            <img class="product-image" src="/media/{{ itm.image }}" alt="{{ itm.short_desc }}" style="width: 270px">
            <div class="middle">
                <a href="{% url 'mainapp:product_detail' pk=itm.pk %}" class="order-link small-order-link"><img src="/static/img/arrow.svg" alt="arrow"></a>
                <h3>{{ itm.category.name }}</h3>
                <h4>{{ itm.name }}</h4>
                <p>{{ itm.description }}</p>
            </div>
        </div>
        {% endfor %}
        </div>
    </form>
{% endblock %}