{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Our Products</title>
{% endblock %}
{% block container %}

    <div class="product container">
        <div class="product-header padding-site">
            {% include "includes/inc_menu.html"%}
            <div class="slider-text">
                <h2>Our Products Range</h2>
            </div>
        </div>
        <div class="padding-site trends">
            <ul class="sort">
                <li><a href="#" class="active-sort">All</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Office</a></li>
                <li><a href="#">Furniture</a></li>
                <li><a href="#">Modern</a></li>
                <li><a href="#">Classic</a></li>
            </ul>

            <div class="shop-case">
                {% for t in trends.img_src %}
                <div class="item">
                    <img class="product-image" src="/static/img/trends/{{ t }}" alt="product-image">
                    <div class="middle">
                        <a href="{% url 'product_info' %}" class="order-link small-order-link"><img src="/static/img/arrow.svg" alt="arrow"></a>
                        <h2>{{trends.h2}}</h2>
                        <p>{{ trends.p }}</p>
                    </div>
                </div>
                {% endfor %}

                {% for t in trends.img_src %}
                <div class="item">
                    <img class="product-image" src="/static/img/trends/{{ t }}" alt="product-image">
                    <div class="middle">
                        <a href="{% url 'product_info' %}" class="order-link small-order-link"><img src="/static/img/arrow.svg" alt="arrow"></a>
                        <h2>{{trends.h2}}</h2>
                        <p>{{ trends.p }}</p>
                    </div>
                </div>
                {% endfor %}

            </div>
            <a href="#" class="refresh">
                        <i class="fas fa-sync-alt"></i>
            </a>
        </div>
        {% include "includes/inc_promo.html" %}
        {% include "includes/inc_footer.html" %}
    </div>
{% endblock %}


