
{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Product Info</title>
{% endblock %}
{% block container %}
    <img src="/media/{{ form.image.value|default:'placeholder.png'}}" alt="">
    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form  %}
        <div class="field">
            <label for="{{ field.name }}" class="form-field-label">
                {{ field.label }}
            </label>
            {{ field }}
        </div>
    {% endfor %}
        <a href="{% url 'products:product_list' %}">
            <button type="button">Back</button>
        </a>

        <input type="submit" value="{{ button }}">
        {% if type == 'edit' %}
        <input type="submit" name="delete" value="delete">
        {% endif %}
    </form>
{% endblock %}
