            <div class="header">
                <a href="{% url 'main' %}" class="logo"><img src="/static/img/logo.png" alt="logo"></a>
                <ul class="menu">
                    <li><a href="{% url 'main' %}" class="active-link">HOME</a></li>
                    <li><a href="{% url 'products:product_index' %}">PRODUCTS</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'auth:edit' %}">{{ user.first_name|default:'USER' }}</a></li>
                    {% endif %}
                    <li>
                    {% if user.is_authenticated %}
                        <a href="{% url 'auth:logout' %}">LOG OUT</a>
                    {% else %}
                        <a href="{% url 'auth:login' %}">LOG IN</a>
                    {% endif %}   
                    </li>
                    <li><a href="{% url 'contacts' %}">CONTACTS</a></li>
                    <li><input class="search-bar" type="text" name="search"></li>
                </ul>
            </div>