        <div class="slider {{ slider_num }} padding-site">
            {% if menu %}
                {% include "includes/inc_menu.html"%}
            {% endif %}
            <div class="slider-text">
                <h3>{{ slider.h3 }}</h3>
                <h2>{{ slider.h2 }}</h2>
                <p>{{ slider.p }}</p>
                <a href="{% url 'product_info' %}" class="order-link">ORDER US<img src="/static/img/arrow.svg" alt="arrow"> </a>
            </div>
            <div class="paggination">
                <a href="#" class="circle"></a>
                <a href="#" class="circle"></a>
                <a href="#" class="circle active-circle"></a>
                <a href="#" class="circle"></a>
                <a href="#" class="circle"></a>
            </div>
        </div>