        <div class="promo">
            <div class="promo-product promo1">
                <h3>exclusive</h3>
                <h2>Fishnet Chair</h2>
                <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                <a href="{% url 'product_info' %}" class="order-link">ORDER US<img src="/static/img/arrow.svg" alt="arrow"> </a>
            </div>
            <div class="promo-product promo2">
                <h3>exclusive</h3>
                <h2>Fishnet Chair</h2>
                <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                <a href="{% url 'product_info' %}" class="order-link">ORDER US<img src="/static/img/arrow.svg" alt="arrow"> </a>
            </div>
        </div>