            <div class="header">
                <a href="/" class="logo"><img src="/static/img/logo.png" alt="logo"></a>
                <ul class="menu">
                    <li><a href="/" class="active-link">HOME</a></li>
                    <li><a href="/products/">PRODUCTS</a></li>
                    <li><a href="#">HISTORY</a></li>
                    <li><a href="#">SHOWROOM</a></li>
                    <li><a href="/contacts/">CONTACTS</a></li>
                    <li><input class="search-bar" type="text" name="search"></li>
                </ul>
            </div>