            <div class="header">
                <a href="{% url 'main' %}" class="logo"><img src="/static/img/logo.png" alt="logo"></a>
                <ul class="menu">
                    <li><a href="{% url 'main' %}" class="active-link">HOME</a></li>
                    <li><a href="{% url 'products' %}">PRODUCTS</a></li>
                    <li><a href="#">HISTORY</a></li>
                    <li><a href="#">SHOWROOM</a></li>
                    <li><a href="{% url 'contacts' %}">CONTACTS</a></li>
                    <li><input class="search-bar" type="text" name="search"></li>
                </ul>
            </div>